* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
  color: #333;
  /* background-image: url("img/bg2.jpg"); */
  /* background-repeat: no-repeat; */
}

a {
  text-decoration: none;
}

.border {
  border: 1px solid black;
}

/*-------------------------------------------------*/

header {
  background-color: white;
  padding: 12px;
  gap: 32%;
  position: sticky;
  top: 0;
}

@media (max-width: 1700px) {
  header {
    gap: 20%;
  }
}

header h1 {
  color: #0d1723;
  font-weight: 800;
  font-size: 36px;
}

.menu-option {
  width: 120px;
  height: 40px;
  padding-top: 8px;
  text-align: center;
}

.menu-option:hover {
  border-bottom: 3px solid #0d1723;
  font-weight: bold;
}

.menu a {
  color: black;
}

.menu-button {
  width: 160px;
  height: 40px;
  background-color: #0d1723;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding-top: 8px;
  text-align: center;
}

.menu-button:hover {
  background-color: #3f4a46;
  font-weight: bold;
  cursor: pointer;
}

/*----------------------------------------------*/

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1350px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu {
    position: fixed;
    left: -100%;
    top: 70px;
    width: 100%;
    transition: 0.4s;
    background-color: white;
  }

  .menu.active {
    left: 0;
    align-items: center;
  }
}

/*----------------------------------------------*/

.store-button {
  width: 160px;
  height: 50px;
  background-color: #333;
  border: none;
  border-radius: 10px;
  transition: transform 0.2s ease-out;
}

.store-button:hover {
  background-color: #444;
  transform: translateY(-2px);
}

.store-button i {
  color: white;
  font-size: 28px;
  padding-left: 15px;
}

.store-button p {
  color: white;
  line-height: 1.2;
  font-size: 10px;
  padding-left: 6px;
  text-align: left;
}

/*---------------------------------------------*/

main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-top: 70px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: end;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: start;
}

.flex-align-end {
  align-items: end;
}

.flex-space-between {
  justify-content: space-between;
}

/*----------------------------------------------*/

.left-side1 {
  width: 45%;
  padding-right: 100px;
}

.right-side1 {
  padding-left: 100px;
}

.left-side2 {
  width: 32%;
  text-align: right;
  padding-top: 125px;
}

.right-side2 {
  width: 32%;
  padding-top: 125px;
}

.left-side3 {
  width: 40%;
}

.right-side3 {
  width: 50%;
  margin-top: 10px;
}

.inner-right-side3-left {
  width: 50%;
}

.inner-right-side3-right {
  width: 50%;
}

.left-side4 {
  width: 55%;
  padding-left: 50px;
}

.right-side4 {
  width: 40%;
}

.left-side5 {
  width: 30%;
}

.right-side5 {
  width: 50%;
}

/*-------------------------------------------------*/

h1.header-big {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
}

h1.header-title {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

h1.header-title2 {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

h1.header-title3 {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

p.text-center {
  margin-bottom: 40px;
  text-align: center;
}

.gap30 {
  gap: 30px;
}

.gap20 {
  gap: 20px;
}

.gap10 {
  gap: 10px;
}

section p {
  line-height: 1.8;
  color: gray;
}

.phone-img {
  width: 250px;
}

.phone-img2 {
  width: 150px;
}

.phone-img3 {
  width: 350px;
}

.phone-img4 {
  width: 450px;
  margin-right: 50px;
}

.ways-img {
  width: 600px;
  padding-right: 90px;
  /* padding-bottom: 50px; */
}

/*.phone-img-bottom {
  padding-top: 90px;
  margin-right: 50px;
}

.phone-img-top {
  padding-bottom: 90px;
}*/

.tile {
  width: 60px;
  height: 60px;
  background-color: gray;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  padding-top: 16px;
  text-align: center;
}

.block-section {
  height: 400px;
  background-color: #ffb114;
  border-radius: 20px;
}

.block-section p {
  color: white;
}

.button-type1 {
  width: 160px;
  height: 50px;
  background-color: #333;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}

.button-type1:hover {
  background-color: #444;
}

/*-------------------------------------------------*/

footer {
  padding-top: 50px;
  padding-left: 350px;
  padding-right: 350px;
  padding-bottom: 15px;
  background-color: #333;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  line-height: 1.5;
  font-size: 12px;
}

footer h1 {
  line-height: 1.1;
}

footer h3 {
  margin-bottom: 10px;
}

hr {
  border: 1px solid darkgray;
  margin-top: 40px;
  margin-bottom: 15px;
}

/*footer button {
  width: 25px;
  height: 25px;
}

footer button:hover {
  background-color: lightblue;
  border: none;
}*/

/*------------------------------------------*/

@media (max-width: 1700px) {
  .right-side4 {
    display: none;
  }

  .left-side4 {
    width: auto;
    padding: 30px;
    text-align: center;
  }

  .right-side5 {
    width: 57%;
  }

  .flex-justify-center-media {
    justify-content: center;
  }
}

@media (max-width: 1350px) {
  main {
    width: 80%;
  }

  section:first-child {
    margin-top: 30px;
  }

  section {
    margin-top: 50px;
  }

  .flex-row {
    flex-direction: column;
  }

  .flex-row-media {
    flex-direction: row;
  }

  .flex-justify-center-media {
    justify-content: center;
  }

  .flex-align-center-media {
    align-items: center;
  }

  .left-side1,
  .right-side1,
  .left-side2,
  .right-side2,
  .left-side3,
  .right-side3,
  .inner-right-side3-left,
  .inner-right-side3-right,
  .left-side4,
  .left-side5,
  .right-side5 {
    width: auto;
  }

  .left-side1,
  .right-side1 {
    padding: 0;
  }

  .left-side1 {
    text-align: center;
  }

  .right-side1 {
    margin-top: 20px;
  }

  .left-side2 {
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
  }

  .right-side2 {
    margin-top: 20px;
    padding: 0;
    text-align: center;
  }

  .right-side3 {
    margin-top: 20px;
    text-align: center;
  }

  .right-side4 {
    display: none;
  }

  .left-side5 {
    align-items: center;
    margin-bottom: 20px;
  }

  .left-side5 p {
    text-align: center;
  }

  .right-side5 {
    margin-top: 10px;
    gap: 40px;
    text-align: center;
  }

  .gap20-media {
    gap: 20px;
  }

  .gap10-media {
    gap: 10px;
  }

  nav {
    padding-bottom: 15px;
  }

  .block-section {
    height: auto;
  }

  h1.header-big {
    font-size: 32px;
  }

  h1.header-title2 {
    margin-bottom: 20px;
  }

  h1.header-title3 {
    font-size: 42px;
  }

  .phone-img3 {
    width: 300px;
  }

  .phone-img4 {
    width: 300px;
    margin: 0;
  }

  footer {
    padding: 30px;
  }

  footer p {
    margin-bottom: 10px;
  }
}

/*------------------------------------------*/

html {
  scroll-behavior: smooth;
}

.to-top {
  position: fixed;
  bottom: 24px;
  right: 32px;
  opacity: 0;
  transition: all 0.4s;
}

.to-top.active {
  opacity: 1;
}

.to-top img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
